* {
font-family: 'Poiret One', cursive;
color: #fd2cff;
text-shadow: 0 0 5px #fd2cff, 0 0 0 #fd2cff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
color: #fd2cff;
text-align: center;
font-size: 24px;
}

p{
  font-size: 18px;

}

body {
width: 90%;
margin:  auto;
background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2438013375536940927/D370DBF7BFC83ED36F783F08A598FFF3E71A1D61/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
background-size: cover;
background-position: center;
height: 100vh;
}

li {
display: inline;
padding: 0.5em;}

#nav {
background-color: #450EFF;
margin: 1%;
padding: 0.5em 0;}


#feature, .article {
height: 10em;
margin-bottom: 1em;

}

#content {
overflow: auto;
margin: 0 auto;}

#feature{
  background-color: #450EFF; 
text-align: center;
margin: 1%;
 
}



.image-container{
width: 200px;
height: 200px;
float: left;
margin: 20px
}

.image-container img{
width: 100%;
height: 100%;
object-fit: cover;
}
